<div class="profile-container">
  <div class="view-container">
    <h3>Profil</h3>
    <div class="image-container">
      <img src="../../../assets/images/edit-user-icon.png" alt="User" />
    </div>
    <div class="user-details-container">
      <span>{{currentUser?.lastName}} {{currentUser?.firstName}}</span>
      <span>Utilizator</span>
    </div>
    <div class="reservation-details">
      <div>
        <span>{{currentUser?.numberOfTotalReservations}}</span>
        <span>rezervari</span>
      </div>
      <div class="vertical-line"></div>
      <div>
        <span>{{currentUser?.numberOfActiveReservations}}</span>
        <span *ngIf="numberOfActiveReservations; else elseBlock">rezervare activa</span>
        <ng-template #elseBlock>rezervari active</ng-template>
      </div>
    </div>
  </div>
  <div class="edit-container">
    <form [formGroup]="detailsForm">
      <div class="form-title">
        <span>Informații de bază</span>
        <div class="form-buttons">
          <button type="cancel" (click)="clearDetailsForm()" class="cancel-button button">Anulează</button>
          <button type="submit" (click)="onDetailsSubmit()" class="save-button button">Salvează</button>
        </div>
      </div>
      <div class="form-body">
        <div class="name-details">
          <div class="form-input" style="width: 50%">
            <span>Nume</span>
            <input type="text" name="lastName"  formControlName="lastName" placeholder="Nume" [value]="currentUser.lastName">
          </div>
          <div class="form-input" style="width: 50%">
            <span>Prenume</span>
            <input type="text" name="firstName" formControlName="firstName" placeholder="Prenume" [value]="currentUser.firstName" />
          </div>
        </div>
        <div class="form-input">
          <span>Email</span>
          <input type="email" name="email" formControlName="email" placeholder="email@email.com" [value]="currentUser.email" />
        </div>
        <div class="form-input">
          <span>Telefon</span>
          <input type="text" name="phone" formControlName="phone" placeholder="Telefon" [value]="currentUser.phone"/>
        </div>
      </div>
    </form>
    <form [formGroup]="passwordForm">
        <div class="form-title">
          <span>Securitate</span>
          <div class="form-buttons">
            <button type="cancel" (click)="clearPasswordForm()" class="cancel-button button">Anulează</button>
            <button type="submit" (click)="onPasswordSubmit()" class="save-button button">Salvează</button>
          </div>
        </div>
        <div class="form-body">
          <div class="name-details">
            <div class="form-input" style="width: 50%">
              <span>Old password</span>
              <input type="password" name="oldPassword" formControlName="oldPassword" placeholder="Old password" />
            </div>
            <div class="form-input" style="width: 50%">
              <span>New password</span>
              <input type="password" name="newPassword" formControlName="newPassword" placeholder="New password" />
            </div>
          </div>
        </div>
      </form>
  </div>
</div>