<div class="profile-container">
  <div class="view-container">
    <h3>Profil</h3>
    <div class="image-container">
      <img src="../../../assets/images/edit-user-icon.png" alt="User" />
    </div>
    <div class="user-details-container">
      <span>{{currentUser?.lastName}} {{currentUser?.firstName}}</span>
      <span>Utilizator</span>
    </div>
    <div class="reservation-details">
      <div>
        <span>{{currentUser?.numberOfTotalReservations}}</span>
        <span>rezervari</span>
      </div>
      <div class="vertical-line"></div>
      <div>
        <span>{{currentUser?.numberOfActiveReservations}}</span>
        <span *ngIf="numberOfActiveReservations; else elseBlock">rezervare activa</span>
        <ng-template #elseBlock>rezervari active</ng-template>
      </div>
    </div>
  </div>
  <div class="edit-container">
    <form [formGroup]="detailsForm" autocomplete="off" novalidate (ngSubmit)="updateProfile(detailsForm.value)"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="form-title">
        <mat-card-title>Informatii de baza</mat-card-title>
        <div class="form-buttons">
          <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!detailsForm.valid">Update</button>
            <button type="button" mat-raised-button color="warn" (click)="cancelDetailsForm()">Cancel</button>
          </mat-card-actions>
        </div>
      </div>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="First name" formControlName="firstName" id="firstName">
              <mat-error *ngIf="detailHasError('firstName', 'required')">First name is required</mat-error>
              <mat-error *ngIf="detailHasError('firstName', 'maxlength')">You have more than 20 characters</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Last name" formControlName="lastName" id="lastName">
              <mat-error *ngIf="detailHasError('lastName', 'required')">Last name is required</mat-error>
              <mat-error *ngIf="detailHasError('lastName', 'maxlength')">You have more than 20 characters</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" formControlName="email" id="email">
        <mat-error *ngIf="detailHasError('email', 'required')">Email is required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Phone" formControlName="phone" id="phone">
        <mat-error *ngIf="detailHasError('phone', 'required')">Phone is required</mat-error>
      </mat-form-field>
    </form>
    <form [formGroup]="passwordForm" autocomplete="off" novalidate (ngSubmit)="updatePassword(passwordForm.value)"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="form-title">
        <mat-card-title>Securitate</mat-card-title>
        <div class="form-buttons">
          <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!passwordForm.valid">Update</button>
            <button type="button" mat-raised-button color="warn" (click)="cancelPasswordForm()">Cancel</button>
          </mat-card-actions>
        </div>
      </div>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Old password" formControlName="oldPassword" id="oldPassword">
              <mat-error *ngIf="passwordHasError('oldPassword', 'required')">Is required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="New password" formControlName="newPassword" id="newPassword">
              <mat-error *ngIf="passwordHasError('newPassword', 'required')">Is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
