<div class="full-width" fxLayout="column" fxLayoutAlign="start center">
  <form
    style="width: 80%; padding-bottom: 16px"
    fxLayout="column"
    fxLayoutAlign="start center"
    [formGroup]="form"
  >
    <span>Locuri disponibile {{ availableParkings }}</span>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Telefon" formControlName="phone" />
      <mat-error *ngIf="phone.hasError('required')">Camp obligatoriu</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Nr Intatriculare" formControlName="address" />
      <mat-error *ngIf="address.hasError('required')">Camp obligatoriu</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="date.hasError('required')">Camp obligatoriu</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Ore disponibile</mat-label>
      <mat-select formControlName="hours">
        <mat-option *ngFor="let hour of hoursSelect" [value]="hour.value">
          {{ hour.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="hours.hasError('required')">Camp obligatoriu</mat-error>
    </mat-form-field>
    <div fxFill>
      <mat-radio-group formControlName="frequency" fxLayoutAlign="space-around center" class="full-width">
        <mat-radio-button value="oneTime">O singura data</mat-radio-button>
        <mat-radio-button value="daily">Zilnic</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
  <div class="mat-dialog-actions" fxLayout="row" fxLayoutAlign="center center" class="full-width">
    <div>
      <buttoncmp (click)="onSubmit()" image="assets/images/check-icon.png" text="Confirma"></buttoncmp>
    </div>
  </div>
</div>
