<div class="centered-form">
  <form [formGroup]="loginForm">
    <div>
      <img src="../../../../assets/images/test.PNG" />
    </div>
    <div class="form-item">
      <div class="form-item-label">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <label>Email</label>
      </div>
      <input type="text" name="email" formControlName="email"/>
    </div>
    <div class="form-item">
      <div class="form-item-label">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <label>Password</label>
      </div>
      <input type="password" name="password" formControlName="password"/>
    </div>
    <div class="form-item-login">
      <a (click)="onSubmit()">
        <div class="form-item-button">
            <span>Login</span>
          </div>
        </a>
    </div>
  </form>
</div>
