<h3 class="mat-dialog-title" fxLayout="row" fxLayoutAlign="end center">
  <div style="cursor: pointer;">
    <img (click)="onClose()" width="40px" height="40px" src="assets/images/close-icon.png" />
  </div>
</h3>

<div class="mat-dialog-content content" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutGap="45px">
    <div
      (click)="selectOption('reservations')"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
    >
      <div class="option" fxLayoutAlign="center center">
        <img width="45px" height="45px" src="assets/images/reservations-icon.png" />
      </div>
      <span>Rezervari</span>
    </div>
    <div (click)="goToProfit()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
      <div class="option" fxLayoutAlign="center center">
        <img width="45px" height="45px" src="assets/images/report-icon.png" />
      </div>
      <span>Profit net</span>
    </div>
    <div (click)="selectOption('update')" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
      <div class="option" fxLayoutAlign="center center">
        <img width="45px" height="45px" src="assets/images/update-icon.png" />
      </div>
      <span>Update</span>
    </div>
  </div>
</div>
