:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .centered-form {
    color: white;
    margin: auto;
    height: 265px;
    width: 350px;
    text-align: center;
    border-radius: 21px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #4A88C5;
  }

}
