<div class="header">
  <a href="" class="header-logo-link">
    <img class="header-logo" src="../assets/images/parklabs-logo-white.png" />
  </a>
  <div class="header-options" *ngIf="showIcons">
    <a class="profile-logo" href="profile">
      <img src="../../../assets/images/edit-user-icon.png" alt="User" />
    </a>
    <div class="vertical-line"></div>
    <a class="log-out" (click)="logOut()">
      <img class="log-out-icon" src="../assets/images/log-out-icon.png" />
    </a>
  </div>
</div>
<div class="panel">
  <router-outlet></router-outlet>
</div>
